@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
.scroll-offset {
  scroll-margin-top: 80px;
}
.contact-scroll-offset {
  scroll-margin-top: 144px;
}

@media (max-width: 1024px) {
  .scroll-offset {
    scroll-margin-top: 62px;
  }
  .contact-scroll-offset {
    scroll-margin-top: 126px;
  }
}
